# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs & Databases
logs/*.log
*.log
database/*.db

# Test Environment & Generated Reports
test_environment/*
!test_environment/.gitkeep
reporting/reports/*.pdf

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

